# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Scratch (if added later)
node_modules/
npm-debug.log*
yarn-debug.log*
.env
